

/* .index-items:active {
  width: 100%;
  top: 500px;
  height: 100%;
  animation-name: ani;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: fixed;
  z-index: 2;
}
@keyframes ani {
  0% {top: 50%;}
  50% {top: 0%;}
  100% {top: 0%}
} */
.traveller {
  position: fixed;
  transition: all 1s;
}
