<div class="homePageContainer">
  <div class="homeHeadingContainer">
    <h1>Welcome to Events</h1>
    <h2>The Events Planner Web App</h2>
  </div>

  <div class="homeBodyDiv columns is-12 is-centered">
    <p class="homePar column is-vcentered">Your personal Event Planner for you and your friends. Find events your friends are attending and let them know whether you are attending or not. See event locations on the map. Login or Register below to use all our features.</p>
  </div>

  <div class="authButtonsContainer columns">
    <a class="authButtons column" ng-if="!isAuthenticated()" ui-sref="login">
      <div>
        <p>Login</p>
      </div>
    </a>

    <a class="authButtons column" ng-if="!isAuthenticated()" ui-sref="register">
      <div>
        <p>Register</p>
      </div>
    </a>
  </div>
</div>
