<h1 class="title is-1">Event</h1>
<section>
  <div ng-if="isAuthenticated()">
    <p>Welcome back {{ username }}</p>
  </div>
  <form ng-submit="handleFilterSubmit()">
    <input type="text" class="input" ng-model="searchTerm">
    <button class="button">🔎</button>
  </form>
  <hr>
  <main class="main-container columns">
  <div class="columns column is-multiline is-desktop is-centered">
    <div ng-repeat="event in filteredEvents" class="column is-8 has-text-centered">
      <div class="index-items">
        <a ui-sref="eventShow({ eventId: event._id })">
          <div class="card-image index-container">
            <figure class="image is-2by1">
              <img ng-click="handleClick($event, event)" class="index-img" ng-src="{{ event.imageUrl }}" alt="{{ event.name }}">
            </figure>
            <div class="index-date-attendees">
              <p>{{ event.date }}</p>
              <p>Going: {{ event.numberOfAttendees }}</p>
            </div>
          </div>
          <h3 class="subtitle">{{ event.name }}</h3>
        </a>
      </div>
    </div>
  </div>
</main>
</section>
