<form ng-submit="createEvent()">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" ng-model="event.name">
    </div>
  </div>
  <div class="field">
    <label class="label">Location</label>
    <div class="control">
      <input class="input" ng-model="event.location">
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="input" ng-model="event.description">
    </div>
  </div>
  <div class="field">
    <label class="label">Date</label>
    <div class="control">
      <input type="date" class="input" ng-model="event.date" >
    </div>
  </div>
  <div class="field">
    <label class="label">Time</label>
    <div class="control">
      <input type="time" class="input" ng-model="event.time">
    </div>
  </div>
  <div class="field">
    <label class="label">Image</label>
    <div class="control">
      <input class="input" ng-model="event.imageUrl">
    </div>
  </div>
  <button class="button is-link">Create</button>
</form>
