<form ng-submit="createEvent()">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" ng-model="event.name">
    </div>
  </div>

  <div class="result-container">
    <div class="search-results">
      <div class="result" ng-repeat="place in searchResults" ng-click="goTo(place)">
        <p>{{ place.display_name }}</p>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Location</label>
    <div class="control">
      <input class="input" ng-model="searchTerm" ng-change="findPlaces()">
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="input" ng-model="event.description">
    </div>
  </div>

  <div class="field">
    <label class="label">Date</label>
    <div class="control">
      <input type="datetime-local" class="input" ng-model="event.date" >
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="label">Until</label>
      <input type="datetime-local" class="input" ng-model="event.dateTo">
    </div>
  </div>

  <div class="field">
    <label class="label">Image</label>
    <div class="control">
      <input class="input" ng-model="event.imageUrl">
    </div>
  </div>
  <button class="button is-link">Create</button>
</form>
