<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app='Events'>
  <head>
    <meta charset="utf-8">
    <title>EventZ</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Ranga|Sedgwick+Ave" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

  <body class="has-navbar-fixed-top" ng-controller="mainCtrl">
    <nav class="navbar is-fixed-top nav">
      <div class="navbar-brand">
        <a class="navbar-item nav-item nav-items column" ng-if="isAuthenticated()" ui-sref="userShow({ userId: userId })">
          <img ng-if="isAuthenticated()"src="{{ profilePic }}" alt="{{ username }}" class="nav-pic">
        </a>
        <a role="button" id="burger" class="navbar-burger burger" aria-label="menu" data-target="burger-content" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu burger-menu" id="burgerContent">
        <div class="navbar-start">
          <a class="navbar-item nav-item nav-items" ui-sref="home">Home</a>
          <a class="navbar-item nav-item nav-items" ui-sref="eventsIndex">All Events</a>
          <a class="navbar-item nav-item nav-items" ng-if="isAuthenticated()" ui-sref="eventCreate">Add Event</a>
          <a class="navbar-item nav-item nav-items" ng-if="isAuthenticated()" ng-click="handleLogout()">Log out</a>
          <a class="navbar-item nav-item nav-items" ng-if="!isAuthenticated()" ui-sref="login">Login</a>
          <a class="navbar-item nav-item nav-items" ng-if="!isAuthenticated()" ui-sref="register">Register</a>
        </div>
      </div>
    </nav>

    <main class="container" ui-view>

    </main>
    <script type="text/javascript">
    const element = document.getElementById('burger');
    const element2 = document.getElementById('burgerContent');
    element.addEventListener('click', toggleMenu);

    document.querySelectorAll('a.navbar-item').forEach(link => {
      link.addEventListener('click', (event)=> {
        toggleMenu();
      })
    })

    function toggleMenu() {
      console.log('toggled menus');
      element.classList.toggle('is-active');
      element2.classList.toggle('is-active');
    }

    </script>
  </body>
</html>
