<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app='Events'>
  <head>
    <meta charset="utf-8">
    <title>Events</title>
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Ranga" rel="stylesheet">
  </head>
  <body class="has-navbar-fixed-top" ng-controller="mainCtrl">
    <nav class="navbar is-fixed-top is-dark">
      <div class="">
        <a class="nav-items" ui-sref="home">Home</a>
        <a class="nav-items" ui-sref="eventsIndex">All Events</a>
        <a class="nav-items" ng-if="isAuthenticated()" ui-sref="eventCreate">Add Event</a>
        <a class="nav-items" ng-if="isAuthenticated()" ui-sref="userShow({ userId: userId })">Profile</a>
        <a class="nav-items" ng-if="isAuthenticated()" ng-click="handleLogout()">Log out {{ username }}</a>
        <a class="nav-items" ng-if="!isAuthenticated()" ui-sref="login">Login</a>
        <a class="nav-items" ng-if="!isAuthenticated()" ui-sref="register">Register</a>
      </div>
    </nav>

    <main ui-view>
    </main>
  </body>
</html>
