.map {
  height: 400px;
  width: 400px;
  z-index: 0;
  border-radius: 50%;
  border: solid black 2px;
  box-shadow: 0px 5px 10px grey;
  margin: 0 auto;
  .leaflet-control{
    top: 150px;
  }
  .leaflet-right{
    bottom: 190px;
    right: 70px;
  }
  .find-me{
    top: 224px;
    left: 10px;
    z-index: 401;
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    line-height: 26px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
    height: 30px;
    width: 34px;
    position: absolute;
  }
  .find-me:hover{
    background-color: #f4f4f4;

  }
}
//Sham's code:
.user-profile{
  height: 90vh;
  width: 100vw;
  a {
    color: black;
  }
  a:hover{
    color: #666;
  }
  .user-info{
    img {
      max-width: 175px;
      max-height: 175px;
      min-width: 150px;
      min-height: 150px;
      border-radius: 50%;
    }
    button {
      vertical-align: middle;
    }
  }
  .created-section, .attending-section {
    height: 37vh;
    overflow: auto;
  }

}
//End of Sham's code

figure.show-image {
  margin-bottom: 5%;
}

.nav-item{
  img {
    width: 27px;
    vertical-align: middle;
  }
}

// Grant, put your code here:
body {
  margin: 15px;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
}
.nav {
  padding-top: 10px;
  background-image: url('http://chepstowcommunitymusiccentre.weebly.com/uploads/8/0/9/7/8097281/4000981_orig.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 5px 4px #999999;
  opacity: 0.6;
}
.user {
  color: black;
  font-family: 'Ranga', cursive;
  font-size: 25px;
}
a {
  color: black;
}
.nav-items {
  font-weight: bold;
  text-shadow: 0 0 0.1em #99b800, 0 0 0.1em #99b800, 0 0 0.1em #99b800;
}
.main-container {
  position: relative;
}
.abs {
  position: relative;
}
.comment {
  margin-top: 0 auto;
}
.index-container {
  position: relative;
}
.index-img {
  opacity: 0.9;
  border: 1px solid black;
  box-shadow : 0px 4px 2px #999999;
}
.index-date-attendees {
  position: absolute;
  top: 15%;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 0.1em #99b800, 0 0 0.1em #99b800, 0 0 0.1em #99b800;
  opacity: 1;
  /* left: 10%; */
}
.index-items {
  padding: auto;
  margin-bottom: 10px;
  width: 100%;
  /* bottom: 50%; */
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  box-shadow : 0px 5px 4px #999999;
  /* height: 90px; */
  // transition-property: height;
  // transition-timing-function: linear;
  // transition-duration: 0.5s;
  position: relative;
}
.form-position {
  position: relative;
}
.drop-search {
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 100%;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
}

@media (max-width: 800px) {
  .map {
    width: 300px;
    height: 300px;
    .leaflet-control {
      top: 100px;
    }
    .find-me {
      top: 174px;
    }
    .leaflet-right {
      top: 120px;
      right: 20px;
      opacity: 0.6;
    }
  }
}
// .show-image {
//   box-shadow: 0px 7px 5px #888888;
// }
@media (min-width: 800px) {
  .show-image {
    height: 50%;
    width: 50%;
    margin: auto;
  }
}
.comment-container {
  margin-top: 10px;
  height: 200px;
  width: 100px;
  // box-shadow : 0px 4px 2px #999999;
  overflow: scroll;
  border-radius: 3%;
}
.comment-pic {
  border-radius: 50%;
  border: 2px solid black;
  box-shadow : 0px 5px 4px #999999;
}
.comment-text {
  border-radius: 5%;
  margin-top: 5px;
  font-family: 'Ranga', cursive;
  font-size: 20px;
}
.comment-username {
  font-family: 'Allerta Stencil', sans-serif;
}
.comment-text {
  margin-top: 0;
}
.test:hover {
  background-color: blue;
}
// End of Grants awesome styling!!!
