<div class="columns is-multiline">
  <div class="column is-offset-1 is-4">
    <h2 class="title">{{ user.username }}'s profile page</h2>
  </div>
  <div class="column is-offset-1 is-5">
    <div class="columns is-multiline">
      <div class="column is-10" ng-repeat="event in user.eventsCreated">
        <a ui-sref="eventShow({ eventId: event._id })">
        <img ng-src="{{event.imageUrl}}">
        <p>{{event.name}}</p>
        </a>
        <p>{{event.date}}</p>
      </div>
    </div>
  </div>
  <div>
    <h2>Friend Me</h2>
    <form ng-if="isAuthenticated()">
      <button class="button is-primary" ng-submit="sendFriendRequest()">Add Friend</button>
    </form>
  </div>
  <div>
    <h2>My Friends</h2>
    <div ng-repeat="friend in user.friends">
      <div>
        <h3>{{ friend.username }}</h3>
        <p>{{ friend.status }}</p>
      </div>
    </div>
  </div>
</div>
