<div class="columns is-multiline">

  <section class="column is-offset-1 is-4">
    <p class="title">{{ user.username }}'s profile page</p>
    <img ng-src="{{ user.profilePic }}">
  </section>

  <div class="column is-offset-1 is-5">

    <section class="events-created columns is-multiline">
      <div class="column is-10" ng-repeat="event in user.eventsCreated">
        <a ui-sref="eventShow({ eventId: event._id })">
        <img ng-src="{{event.imageUrl}}">
        <p>{{event.name}}</p>
        </a>
        <p>{{event.date}}</p>
      </div>
    </section>

    <section class="events-attending">
      <p>Events attending: </p>
      <div class="columns">
        <div class="column is-4" ng-repeat="event in user.eventsAttending">
          <a ui-sref="eventShow({ eventId: event._id })">
            <p>{{event.name}}</p>
            <img ng-src="{{event.imageUrl}}">
            <p>{{event.date}}</p>
          </a>
        </div>
      </div>
    </section>

  </div>

  <!-- <div>
    <h2>Friend Me</h2>
    <form ng-if="isAuthenticated()">
      <button class="button is-primary" ng-submit="sendFriendRequest()">Add Friend</button>
    </form>
  </div>

  <div>
    <h2>My Friends</h2>
    <div ng-repeat="friend in user.friends">
      <div>
        <h3>{{ friend.username }}</h3>
        <p>{{ friend.status }}</p>
      </div>
    </div>
  </div> -->

</div>
